<!DOCTYPE html>
<html>
    <head>
        <title>
            MyPortfolio- Karan Chopra
        </title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    {{{body}}}
        <footer class="bg-dark text-center text-white">
     <div id="footer" class="text-center">
          <p>&copy; Copyrights Refernces.</p>
          <div class="credits">
            Designed by <a href="https://www.linkedin.com/in/bawakaran95/">Karan Chopra</a>
          </div>
      </div>
       <section><br>
      <div class="bg-dark text-center text-white">
     </footer>
  </body>
</html>
